acres==0.5.0
bids==0.0
bids-validator==1.14.7.post0
bidsschematools==1.2.2
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
cognitiveatlas==0.1.11
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
docopt==0.6.2
fonttools==4.62.1
formulaic==1.2.1
frozendict==2.4.7
fsspec==2026.3.0
fuzzywuzzy==0.18.0
greenlet==3.4.0
h5py==3.16.0
idna==3.11
importlib-resources==7.0.0
interface-meta==1.3.0
jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
llvmlite==0.47.0
markupsafe==3.0.3
matplotlib==3.10.8
mpmath==1.3.0
narwhals==2.19.0
nibabel==5.3.3
nilearn==0.13.1
nimare==0.15.0
nltools==0.5.1
num2words==0.5.14
numba==0.65.0
numpy==2.4.4
packaging==26.0
pandas==2.3.3
pathlib-abc==0.5.2
patsy==1.0.2
pillow==12.2.0
plotly==6.7.0
pybids==0.22.0
pymare==0.0.10
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.1.post1
pyyaml==6.0.3
requests==2.33.1
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
six==1.17.0
sparse==0.18.0
sqlalchemy==2.0.49
statsmodels==0.14.6
sympy==1.14.0
threadpoolctl==3.6.0
tqdm==4.67.3
typing-extensions==4.15.0
tzdata==2026.1
universal-pathlib==0.3.10
urllib3==2.6.3
wrapt==2.1.2
